

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574278505760555883.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574278505760555883.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574278505760555883.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574278505760555883.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574278505760555883.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574278505760555883.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574278505760555883.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574278505760555883.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574278505760555883.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574278505760555883.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-574278505760555883.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-574278505760555883.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574278505760555883.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574278505760555883.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-574278505760555883.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574278505760555883.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574278505760555883.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574278505760555883.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574278505760555883.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574278505760555883.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574278505760555883.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-574278505760555883.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574278505760555883.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574278505760555883.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574278505760555883.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-574278505760555883.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-574278505760555883.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-574278505760555883.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574278505760555883.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574278505760555883.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-574278505760555883.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-574278505760555883.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-574278505760555883.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574278505760555883.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574278505760555883.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574278505760555883.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574278505760555883.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574278505760555883.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574278505760555883.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574278505760555883.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574278505760555883.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-574278505760555883.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574278505760555883.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-574278505760555883.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-574278505760555883.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574278505760555883.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574278505760555883.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574278505760555883.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-574278505760555883.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-574278505760555883.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574278505760555883.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-574278505760555883.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-574278505760555883.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-574278505760555883.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-574278505760555883.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-574278505760555883.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-574278505760555883.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574278505760555883.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574278505760555883.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-574278505760555883.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-574278505760555883.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574278505760555883.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574278505760555883.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-574278505760555883.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-574278505760555883.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574278505760555883.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-574278505760555883.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-574278505760555883.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-574278505760555883.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-574278505760555883.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-574278505760555883.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-574278505760555883.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574278505760555883.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574278505760555883.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-574278505760555883.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-574278505760555883.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574278505760555883.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574278505760555883 .gp-rotate-0,.gps-574278505760555883 .gp-rotate-180,.gps-574278505760555883 .mobile\:gp-rotate-0,.gps-574278505760555883 .mobile\:gp-rotate-180,.gps-574278505760555883 .tablet\:gp-rotate-0,.gps-574278505760555883 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-574278505760555883 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-574278505760555883 .gp-static{position:static}.gps-574278505760555883 .\!gp-absolute{position:absolute!important}.gps-574278505760555883 .gp-relative{position:relative}.gps-574278505760555883 .gp-left-0{left:0}.gps-574278505760555883 .gp-right-0{right:0}.gps-574278505760555883 .gp-z-1{z-index:1}.gps-574278505760555883 .gp-z-2{z-index:2}.gps-574278505760555883 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574278505760555883 .gp-my-0{margin-bottom:0;margin-top:0}.gps-574278505760555883 .gp-mb-0{margin-bottom:0}.gps-574278505760555883 .gp-block{display:block}.gps-574278505760555883 .\!gp-flex{display:flex!important}.gps-574278505760555883 .gp-flex{display:flex}.gps-574278505760555883 .gp-inline-flex{display:inline-flex}.gps-574278505760555883 .gp-grid{display:grid}.gps-574278505760555883 .\!gp-hidden{display:none!important}.gps-574278505760555883 .gp-hidden{display:none}.gps-574278505760555883 .gp-aspect-square{aspect-ratio:1/1}.gps-574278505760555883 .gp-h-full{height:100%}.gps-574278505760555883 .\!gp-min-h-full{min-height:100%!important}.gps-574278505760555883 .gp-w-\[12px\]{width:12px}.gps-574278505760555883 .gp-w-full{width:100%}.gps-574278505760555883 .gp-max-w-full{max-width:100%}.gps-574278505760555883 .gp-shrink-0{flex-shrink:0}.gps-574278505760555883 .gp-rotate-0{--tw-rotate:0deg}.gps-574278505760555883 .gp-rotate-0,.gps-574278505760555883 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-574278505760555883 .gp-rotate-180{--tw-rotate:180deg}.gps-574278505760555883 .gp-cursor-pointer{cursor:pointer}.gps-574278505760555883 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-574278505760555883 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574278505760555883 .\!gp-flex-row{flex-direction:row!important}.gps-574278505760555883 .gp-flex-row{flex-direction:row}.gps-574278505760555883 .gp-flex-col{flex-direction:column}.gps-574278505760555883 .gp-flex-wrap{flex-wrap:wrap}.gps-574278505760555883 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-574278505760555883 .gp-items-center{align-items:center}.gps-574278505760555883 .gp-justify-center{justify-content:center}.gps-574278505760555883 .gp-justify-between{justify-content:space-between}.gps-574278505760555883 .gp-gap-2{gap:8px}.gps-574278505760555883 .gp-gap-y-0{row-gap:0}.gps-574278505760555883 .gp-overflow-hidden{overflow:hidden}.gps-574278505760555883 .gp-rounded-full{border-radius:9999px}.gps-574278505760555883 .gp-text-center{text-align:center}.gps-574278505760555883 .gp-leading-\[0\]{line-height:0}.gps-574278505760555883 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-574278505760555883 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-574278505760555883 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-574278505760555883 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574278505760555883 .gp-duration-200{transition-duration:.2s}.gps-574278505760555883 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574278505760555883 .tablet\:gp-static{position:static}.gps-574278505760555883 .tablet\:\!gp-absolute{position:absolute!important}.gps-574278505760555883 .tablet\:gp-left-0{left:0}.gps-574278505760555883 .tablet\:gp-right-0{right:0}.gps-574278505760555883 .tablet\:gp-z-2{z-index:2}.gps-574278505760555883 .tablet\:gp-block{display:block}.gps-574278505760555883 .tablet\:\!gp-flex{display:flex!important}.gps-574278505760555883 .tablet\:\!gp-hidden{display:none!important}.gps-574278505760555883 .tablet\:gp-hidden{display:none}.gps-574278505760555883 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-574278505760555883 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-574278505760555883 .tablet\:gp-rotate-0,.gps-574278505760555883 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-574278505760555883 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-574278505760555883 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-574278505760555883 .tablet\:gp-flex-row{flex-direction:row}.gps-574278505760555883 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-574278505760555883 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-574278505760555883 .mobile\:gp-static{position:static}.gps-574278505760555883 .mobile\:\!gp-absolute{position:absolute!important}.gps-574278505760555883 .mobile\:gp-left-0{left:0}.gps-574278505760555883 .mobile\:gp-right-0{right:0}.gps-574278505760555883 .mobile\:gp-z-2{z-index:2}.gps-574278505760555883 .mobile\:gp-block{display:block}.gps-574278505760555883 .mobile\:\!gp-flex{display:flex!important}.gps-574278505760555883 .mobile\:\!gp-hidden{display:none!important}.gps-574278505760555883 .mobile\:gp-hidden{display:none}.gps-574278505760555883 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-574278505760555883 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-574278505760555883 .mobile\:gp-rotate-0,.gps-574278505760555883 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-574278505760555883 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-574278505760555883 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-574278505760555883 .mobile\:gp-flex-row{flex-direction:row}.gps-574278505760555883 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-574278505760555883 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-574278505760555883 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-574278505760555883 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-574278505760555883 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-574278505760555883 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-574278505760555883 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-574278505760555883 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-574278505760555883 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-574278505760555883 .\[\&_p\]\:gp-inline p{display:inline}.gps-574278505760555883 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-574278505760555883 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gMaK1aN7nl" data-id="gMaK1aN7nl"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMaK1aN7nl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gE-Vsmwm4L gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g3NcdugmZH" data-id="g3NcdugmZH"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-m);--pl:15px;--pb:var(--g-s-m);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#575757;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3NcdugmZH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEU7KmZxhZ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTZGeEf0iI" data-id="gTZGeEf0iI"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pl-mobile:var(undefined);--pr-mobile:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:410px;--w-tablet:410px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTZGeEf0iI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5VL6e77DS gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel data-id="gy4oXD4Jr_"  id="gp-root-carousel-gy4oXD4Jr_-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gy4oXD4Jr_-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true,"mobile":true},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" className=\"w-6 h-6\"  viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z\" /></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":2,"childItem":["Slide 1","Slide 2","Slide 3"],"controlOverContent":{"desktop":true,"mobile":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"brand"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"none","mobile":"none","tablet":"none"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":1,"mobile":1,"tablet":1},"loop":{"desktop":true},"navigationStyle":{"desktop":"inside","mobile":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gy4oXD4Jr_"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gy4oXD4Jr_-{{section.id}} gp-carousel-arrow-gy4oXD4Jr_ gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-gy4oXD4Jr_ {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gy4oXD4Jr_::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gy4oXD4Jr_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gy4oXD4Jr_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gy4oXD4Jr_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gy4oXD4Jr_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gy4oXD4Jr_-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:undefinedpx;--cg-tablet:undefinedpx;--cg:undefinedpx">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gy4oXD4Jr_ grx2nGw1yu"
      data-index="0"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVaTTs8W3U">
    <div
      parentTag="CarouselItem"
        class="gVaTTs8W3U "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggVaTTs8W3U_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gy4oXD4Jr_ gqGMVIlZq7"
      data-index="1"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      
       
      
    <div
      parentTag="CarouselItem" id="gpVzhsBb1A" data-id="gpVzhsBb1A"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:var(--g-s-s);--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpVzhsBb1A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gK16hMwMmn gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRcM3XDZaT">
    <div
      parentTag="Col"
        class="gRcM3XDZaT "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRcM3XDZaT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcg9W5xw30 gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="gBo5hl4lSu"
      
      data-id="gBo5hl4lSu"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g2mQF96v8O ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gVEiTySOKU"
    >
      <div 
      data-id="gVEiTySOKU"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g4im94IlYn ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gW724-alda"
    >
      <div 
      data-id="gW724-alda"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gIrUy_RaE0 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] guB4q_BlNH"
    >
      <div 
      data-id="guB4q_BlNH"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gak_jEsNLO ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gHH49t7gFB"
    >
      <div 
      data-id="gHH49t7gFB"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gQ-YturTrw ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] geWKELoxLm"
    >
      <div 
      data-id="geWKELoxLm"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTqX4BNq6N gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcufma8xV-">
    <div
      parentTag="Col"
        class="gcufma8xV- "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcufma8xV-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gy4oXD4Jr_ gwC3UdzA5M"
      data-index="2"
    >
      <div
        class="gp-w-full gp-h-full",
        
      >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpPpmeIHNQ">
    <div
      parentTag="CarouselItem"
        class="gpPpmeIHNQ "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpPpmeIHNQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gy4oXD4Jr_-{{section.id}} gp-carousel-arrow-gy4oXD4Jr_ gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-gy4oXD4Jr_ {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gy4oXD4Jr_::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gy4oXD4Jr_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gy4oXD4Jr_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gy4oXD4Jr_ {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gy4oXD4Jr_::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gy4oXD4Jr_-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-574278505760555883 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/et42jb-a7/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=574278057976661038&sectionId=574278505760555883)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggVaTTs8W3U_text","label":"ggVaTTs8W3U_text","default":"<p>FREE Shipping On All U.S. Orders Over $150</p>"},{"type":"html","id":"ggRcM3XDZaT_text","label":"ggRcM3XDZaT_text","default":"<p>5000+</p>"},{"type":"html","id":"ggcufma8xV-_text","label":"ggcufma8xV-_text","default":"<p>REVIEWS</p>"},{"type":"html","id":"ggpPpmeIHNQ_text","label":"ggpPpmeIHNQ_text","default":"<p>60-DAY FREE RETURNS</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
